src/dll-src/GerenciaNet.res
src/dll-src/Win32/
src/output/
src/dll-src/GerenciaNet.dproj.local
src/dll-src/GerenciaNet.identcache
src/dll-src/GerenciaNet.stat
src/dll-src/GerenciaNet.dproj
demo/uGerenciaClient.pas
demo/uGerenciaNetClientUtilities.pas
demo/GerenciaDemo.dproj
demo/output/
demo/*.dcu
demo/*.res
demo/__history/